<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminAccountMapper">
	<select id="adminLogin" parameterType="Map" resultType="Map">
		SELECT /* [AdminAccountMapper.adminLogin] 관리자 로그인 */
			   ADM_ID    AS admId
		     , ADM_EMAIL AS admEmail
		     , ADM_NAME  AS admName
		     , ADM_TYPE  AS admType
		  FROM API_ADM_INFO
		 WHERE USE_YN = 'Y'
		   AND ADM_ID = #{admId}
		   AND ADM_PW = #{admPw}
	</select>

	<insert id="adminRegist" parameterType="Map">
		INSERT INTO /* [AdminAccountMapper.adminRegist] 관리자 등록 */
		API_ADM_INFO (
			           ADM_ID
			          ,ADM_EMAIL
			          ,ADM_PW
			          ,ADM_NAME
			          ,REG_DTM
			          ,UPD_DTM
		             )
			  VALUES (
			           #{admId}
			          ,#{admEmail}
			          ,#{admPw}
			          ,#{admName}
			          ,NOW()
			          ,NOW()
			         )
	</insert>


	<select id="getFavoritCount" parameterType="Map" resultType="int">
		SELECT COUNT(*) AS cnt
		  FROM TMP_MOV_FAVORIT
		 WHERE MOV_ID = #{movId}
	</select>
	<select id="getIsFavorit" parameterType="Map" resultType="int">
		SELECT COUNT(*) AS cnt
		  FROM TMP_MOV_FAVORIT
		 WHERE MOV_ID = #{movId}
		   AND USER_FROM = #{userFrom}
	</select>
	<insert id="insertFavorite" parameterType="Map">
		INSERT INTO
		TMP_MOV_FAVORIT (
		                   USER_FROM
		                 , MOV_ID
		                 , MOV_TITLE
		                 , MOV_IMG
		                 , MOV_RUNTIME
		                 , REG_DTM
		                 , UPD_DTM
		                )
		          VALUES(
		                   #{userFrom  }
		                 , #{movId     }
		                 , #{movTitle  }
		                 , #{movImg    }
		                 , #{movRuntime}
		                 , NOW()
		                 , NOW()
		                )

	</insert>
	<delete id="deleteFavorite" parameterType="Map">
		DELETE FROM TMP_MOV_FAVORIT
		 WHERE MOV_ID    = #{movId}
		   AND USER_FROM = #{userFrom}
	</delete>

	<select id="selectFavoriteList" parameterType="Map" resultType="Map">
		SELECT  USER_FROM   AS   userFrom
              , MOV_ID      AS   movId
              , MOV_TITLE   AS   movTitle
              , MOV_IMG     AS   movImg
              , MOV_RUNTIME AS   movRuntime
              , REG_DTM     AS   regDtm
              , UPD_DTM     AS   updDtm
		  FROM TMP_MOV_FAVORIT
		 WHERE USER_FROM = #{userFrom}
	</select>

</mapper>