@charset "utf-8";

/* FONT ******************************************************/
@font-face {
    font-family: Noto Sans KR;
	font-weight:normal;
	font-style:normal;
    src: url(font/NotoSansKR-Light.eot);
    src: url(font/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
         url(font/NotoSansKR-Light.woff) format('woff'),
         url(font/NotoSansKR-Light.ttf) format('truetype');
}
@font-face {
    font-family: Noto Sans KR;
	font-weight:400;
	font-style:normal;
    src: url(font/NotoSansKR-Regular.eot);
    src: url(font/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
         url(font/NotoSansKR-Regular.woff) format('woff'),
         url(font/NotoSansKR-Regular.ttf) format('truetype');
}

/* INIT ******************************************************/
html,body {height:100%;}
html{font-size:10px}
* {margin:0; padding:0;}
*, ::after, ::before {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
body		{font-family: "Noto Sans KR", sans-serif !important;color:#262626; font-size:14px; line-height:1.5;}
ul,ol,li	{list-style:none;}
img,hr		{border:none;}
img			{vertical-align:middle;border:0px;}

table 			{border-collapse:collapse; border-spacing:0; width:100%;}
table td img	{vertical-align:middle;}

a			{color:#333;}
a:link		{text-decoration:none;}
a:visited	{text-decoration:none;}
a:active	{text-decoration:none;}
a:hover		{text-decoration:none;}

/* tag all font-size set */
/* html5 tag (article,aside,bdi,details,dialog,figcaption,figure,footer,header,main,mark,menuitem,meter,nav,progress,rp,rt,ruby,section,summary,time,wbr) */
body,p,div,ul,li,dl,dt,dd,ol,fieldset,textarea,input,select,table,th,td,address,cite,h1,h2,h3,h4,h5,h6,strong,b,label {font-family:"Noto Sans KR",NanumSquare,'Malgun Gothic', dotum, Arial, sans-serif;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
input					{vertical-align:middle;outline:none;font-size:14px;}
input[type='text'], input[type='tel'],
input[type='password']  {display:inline-block;width:100%;border:1px solid #cbcbcb;text-indent:14px;height:34px;background-color:#fff;color:#868686;}
select					{display:inline-block;vertical-align:middle;min-width:90px;height:34px;padding:0 45px 0 18px;border:1px solid #cbcbcb;background-color:#fff;color:#444;outline:none;font-size:14px;-webkit-appearance:none;-moz-appearance:none;background:url(../images/common/icon_select.png) no-repeat right center;-moz-appearance:none;-webkit-appearance:none;appearance:none;color:#868686;}
select::-ms-expand      {display:none}
textarea				{display:inline-block;vertical-align:middle;width:100%;height:150px;padding:8px 8px; border:solid 1px #cbcbcb;background-color:#fff;color:#444;outline:none;font-size:14px;resize:none;color:#868686;}
input[type='file'],
input[type='image'],
input[type='reset'],
input[type='button'],
input[type='submit'] {cursor:pointer;}
input[type='text']::-ms-clear { display: none;}
input[type='password']::-ms-clear {display: none;}
button {border:0 none;background-color:transparent;cursor:pointer}
hr, caption {display:none;position:absolute; left:-9999px; top:-9999px;height:0;text-indent:-1000000000px;font-size:0;}
legend {position:absolute;height:0;font-size:0px;line-height:0;overflow:hidden;text-indent:-9999px;}
i,address,cite,em	{font-style:normal;}
label {cursor:pointer;}
.cusor {cursor:pointer}
fieldset {border:0;}
input:disabled,select:disabled {background:#f6f6f6;}
.hidden {position:absolute;top:0;left:-1000000000000px;width:0;height:0;font-size:0;}
.blind {font-size:0;height:0;text-indent:-10000em}
input[type="radio"] {display:none;}
input[type="radio"] + label span {display:inline-block;width:16px;height:16px;margin:0;vertical-align:middle;background:url(../images/common/bg_radio_off.png) 0 0 no-repeat;cursor:pointer;}
input[type="radio"]:checked + label span {background:url(./images/common/bg_radio_on.png) 0 0 no-repeat;}
input[type="checkbox"] {display:none;}
input[type="checkbox"] + label span {display:inline-block;width:16px;height:16px;vertical-align:middle;background:url(../images/common/bg_checkbx_off.png) 0 0 no-repeat;cursor:pointer;}
input[type="checkbox"]:disabled + label {color:#bababa;}
/* input[type="checkbox"]:disabled + label span {background:url(../images/common/bg_checkbx_disabled.png) 0 0 no-repeat;}
input[type="checkbox"]:checked + label span {background:url(../images/common/bg_checkbx_on.png) 0 0 no-repeat;} */
input[type="checkbox"] + label span {background:#ccc;}
input[type="checkbox"]:checked + label span {background:red;}

/*COMMON*/
.fl {float:left !important;}
.fr {float:right !important;;}
.align-l {text-align:left !important;}
.align-r {text-align:right !important;}
.w-full {width:100% !important;}
.w-152 {width:152px !important;}
.w-600 {width:600px !important;}
.f-color01 {color:#e44949 !important;}
.gap-none {margin-top:0 !important;}
.gap-none-l {margin-left:0 !important;}
/* LOGIN ******************************************************/
.login-wrap {position: absolute;width:100%;height:100%;padding-top:135px;background:#12cdc2;}
.login-wrap:after {content:'';display:inline-block;position:absolute;bottom:0;width:100%;height:45%;background:#fff;}
.login-wrap h1 {display:block;height:130px;margin:0 auto;text-align:center;}
.login-wrap h1 img {height:100%;}
.login-wrap h2 {display:block;height:85px;margin:0 -55px;border-bottom:2px solid #12cdc2;font-size:26px;font-weight:700;color:#12cdc2;line-height:85px;text-align:center;}
.login-wrap .login-box {position:relative;z-index:1;width:540px;margin:70px auto 0;padding:0 55px 30px;border:1px solid #e7e7e7;border-radius:4px;background:#fff;box-shadow:3px 3px 6px rgba(0,0,0,0.1);}
.login-wrap .login-box .input-box {position:relative;margin-top:45px;}
.login-wrap .login-box .input-box input {width:100%;height:60px;border:1px solid #bcbcbc;}
.login-wrap .login-box .input-box + .input-box {margin-top:25px;}
.login-wrap .login-box .input-box input + .log-tit {position:absolute;top:18px;left:20px;padding:0 10px;font-size:18px;font-weight:400;color:#a4a5a5;}
.login-wrap .login-box .input-box input + .log-tit.active {position:absolute;top:-12px;left:20px;background:#fff;color:#00958c;}
.login-wrap .login-box .btn-area {margin-top:20px;}
.login-wrap .login-box .btn-area button {width:100%;height:60px;border-radius:4px;background:#0a7b75;font-size:25px;color:#fff;}
.login-wrap .login-box address {margin-top:30px;font-size:14px;color:#b7b7b7;text-align:center;}
.login-wrap .login-box .checkbox-area input[type="checkbox"] + label span {position:absolute;top:0;right:0;width:75px;height:100%;background:url(../images/log/btn_view_pw_off.png) no-repeat center / 41px 25px;font-size:0;}
.login-wrap .login-box .checkbox-area input[type="checkbox"]:checked + label span {background:url(../images/log/btn_view_pw_on.png) no-repeat center / 41px 32px;}

/* LAYOUT ******************************************************/
#wrapper {position:relative;min-width:1280px;min-height:100%;}
#wrapper:after {content:'';display:block;clear:both;}
#container {position:absolute;top:87px;right:0;left:0;min-height: calc(100% - 87px);padding:20px 20px 100px;background:#f3f4f6;}
#container:after {content:'';display:block;clear:both;}
#contents {float:left;width:calc(100% - 240px);padding-left:25px;}


h1 {display:inline-block;height:45px;}
h1 img {display:inline-block;height:100%;}
h2 {display:inline-block;font-size:22px;font-weight:400;margin-left:17px;color:#c0e4e2;line-height:1;vertical-align:bottom;}
h3 {float:left;font-size:30px;color:#5d5d5d;}
h4 {float:left;padding-left:35px;background:url(../images/common/icon_2title.png) no-repeat left center / 23px 15px;font-size:20px;color:#868686;font-weight:400;}
h5 {padding-left:20px;background:url(../images/common/icon_3title.png) no-repeat left center / 8px 15px;font-size:18px;color:#868686;font-weight:400;}

/* HEADER ******************************************************/
header {height:87px;padding:20px 20px;background:#12cdc2;}
header:after {content:'';display:block;clear:both;}
header .fr {padding:6px 0 6px;}
header .fr .name {font-size:20px;color:#fff;vertical-align:middle;}
header .fr .btn-logout {width:110px;margin-left:20px;padding:7px 0 9px;border-radius:17px;background:#0a7b75;color:#fff;}

/* LEFT NAVI ******************************************************/
.left-navi {float:left;width:240px;border-radius:5px;background:#cacdd2;padding:0 10px 20px;}
.left-navi .lst > li strong {display:block;padding-top:15px;padding-left:10px;background-image:url(../images/common/icon_navi_off.png);background-repeat:no-repeat;background-position:top 19px right 5px;background-size:19px 19px;font-size:18px;font-weight:normal;color:#5d5d5d;cursor:pointer;}
.left-navi .lst > li.active strong {background-image:url(../images/common/icon_navi_on.png);background-position:top 27px right 5px;background-size:19px 2px;color:#262626;font-weight:600;}
.left-navi .lst > li.active + li {margin-top:10px;}
.left-navi .lst > li.active > ul {display:block;margin-top:18px;padding:10px 20px;}
.left-navi .lst > li > ul {display:none;border-radius:5px;background:#eff3f9;}
.left-navi .lst > li > ul > li a {display:inline-block;height:33px;line-height:33px;font-size:16px;color:#8c8c8c;}
.left-navi .lst > li > ul > li.active a {color:#505050;}
.left-navi .lst > li > ul > li.active:before {content:'';display:inline-block;width:2px;height:15px;margin-top:-4px;margin-right:10px;background:#505050;vertical-align:middle;}

/* GUIDE ******************************************************/
/* button */
.btn-area:after {content:'';display:block;clear:both;}
.btn-area {position:relative;margin-top:15px;text-align:right;}
.btn-area .btn {margin-right:5px;}
.btn-area .btn:last-child {margin-right:0;}
.btn {padding:10px 16px;font-size:16px;border-radius:22px;border-width:1px;border-style:solid;}
.btn-primary {min-width:77px;border-color:#065551;background:#065551;color:#fff;}
.btn-secondary {min-width:77px;border-color:#8d8d8d;background:#fff;color:#8d8d8d;}
.btn-success {border-color:#0d9a92;background:#12cdc2;color:#fff;}
.btn-danger {min-width:77px;border-color:#c81414;background:#e44949;color:#fff;}
.btn-light {padding:4px 13px 5px;border-color:#709e9b;background:#709e9b;font-size:14px;color:#fff;}
.btn-push {width:120px;margin-left:10px;padding:4px;background:#c4c4c4;font-size:14px;color:#fff;}
.btn-del02 {width:23px;height:23px;margin-top:2px;padding:0;border:none;border-radius:0;background:url(../images/common/btn_del02.png) no-repeat center / 100% 100%; font-size:0;}
.btn-a-search {width:120px;padding:7px 0;border-radius:4px;background:#c4c4c4;font-size:14px;color:#fff;vertical-align:middle;}
.toggle-btn-box {display:inline-block;position:relative;width:203px;height:28px;margin-left:5px;border:1px solid #9d9d9d;border-radius:20px;overflow:hidden;vertical-align:middle;}
.toggle-btn-box:after {content:'';display:block;clear:both;}
.toggle-btn-box .btn-toggle {float:left;width:50%;padding:0;border:none;border-radius:20px;font-size:14px;color:#bdbdbd;line-height:28px;}
.toggle-btn-box .btn-toggle.active {background:#c4c4c4;color:#fff;}

.left-navi + .tit-box {float:left;width:calc(100% - 265px);margin-left:25px;}

/* 1 타이틀 */
.tit-box:after {content:'';display:block;clear:both;}
.tit-box {padding:15px 0;border-bottom:1px solid #9c9c9c;}
.tit-box .location-list {padding-top:21px;}
.tit-box .location-list:after {content:'';display:block;clear:both;}
.tit-box .location-list li {float:left;}
.tit-box .location-list li + li:before  {content:'>';font-size:16px;color:#9c9c9c;padding:0 3px 0 8px;}
.tit-box .location-list li a {display:inline-block;font-size:16px;color:#9c9c9c;}
.tit-box .location-list li .active {color:#262626;}
.tit-box .location-list li .home {font-size:0;width:16px;height:15px;background:url(../images/common/icon_home.png) no-repeat center;background-size:cover;vertical-align:middle;}
.tit-box + .tit-box {padding-top:25px;}

.tit-box02 {padding:35px 0 0;}
/* search-area */
.date-picker-box {float:left;margin-right:10px;}
.date-picker-box .datepicker {width:205px;background:url(../images/common/icon_datePicker.png) no-repeat center right 7px / 20px #fff;}
.hyphen {margin:0 10px;font-size:14px;color:#868686;}
.date-radio-box {float:left;height:34px;margin-right:10px;border:1px solid #cbcbcb;vertical-align:middle;}
.date-radio-box:after {content:'';display:block;clear:both;}
.date-radio-box .date-radio {float:left;width:60px;height:100%;border-left:1px solid #cbcbcb;text-align:center;}
.date-radio-box .date-radio:first-child {border-left:0;}
.date-radio-box .date-radio input[type="radio"] + label {display:inline-block;width:100%;height:100%;background:#e7e7e7;color:#868686;line-height:34px;}
.date-radio-box .date-radio input[type="radio"]:checked + label {background:#0a7b75;color:#fff;}
.date-radio-box .date-btn {float:left;width:60px;height:100%;border-left:1px solid #cbcbcb;background:#e7e7e7;font-size:14px;text-align:center;color:#868686;line-height:34px;}
.date-radio-box .date-btn.active {background:#0a7b75;color:#fff;}
.date-radio-box .date-btn:first-child {border-left:0;}


.searchSt select {float:left;width:144px;margin-right:10px;}
.searchSt input[type="text"]:not(.datepicker) {float:left;width:275px;margin-right:10px;}
.searchSt .btn {float:left;width:64px;height:34px;margin-right:10px;padding:0;font-size:14px;vertical-align:middle;}


/**/
.check-item-area + .check-item-area {margin-top:15px;}
.check-item-box {height:34px;margin-right:10px;vertical-align:middle;}
.check-item-box + .check-item-box {margin-top:5px;}
.check-item-box:after {content:'';display:block;clear:both;}
.check-item-box .check-item {float:left;min-width:80px;height:100%;margin-right:5px;border:1px solid #cbcbcb;border-radius:10px;text-align:center;overflow:hidden;}
.check-item-box .check-item input[type="checkbox"] + label {display:inline-block;width:100%;height:100%;padding:0 15px;color:#868686;line-height:34px;}
.check-item-box .check-item input[type="checkbox"]:checked + label {background:#0a7b75;color:#fff;}

.care-list .care-tit {display:inline-block;height:100%;padding:0 15px;border:1px solid #0a7b75;border-radius:10px;background:transparent;font-weight:400;color:#0a7b75;line-height:34px;}
.care-list .check-item-box {margin-top:5px}


/*table*/
.table-area {margin-top:10px;}
.tbl {table-layout:fixed;border-top:2px solid #12cdc2;text-align:center;}
.tbl tr th,
.tbl tr td {padding:10px 0px;border-bottom:1px solid #c4c4c4;border-left:1px solid #c4c4c4;font-size:16px;}
.tbl tr th:last-child,
.tbl tr td:last-child {border-right:1px solid #c4c4c4;}
.tbl tr th {background:#e8ebee;font-weight:700;}
.tbl tr td {background:#fff;color:#747474;}
.tbl tr td a {color:#12cdc2;}
.tbl tr td.align-l {padding-left:15px;}
.tbl tr td.align-l a {display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.tbl tr td.align-l:hover a,
.tbl tr td a:hover {text-decoration:underline;}
.tbl tr td.no-data {padding:20px 0;color:#b3b3b3;}

.tbl.row-type {text-align:left;}
.tbl.row-type tr th,
.tbl.row-type tr td {padding-left:15px;padding-right:15px;}

.tbl-total {display:block;margin-top:30px;font-size:16px;color:#868686;}
.tbl-total strong {color:#262626;}
.tbl-required {float:right;padding-top:5px;font-size:16px;color:#868686;}
.tbl-required:before {content:'*';display:inline-block;margin-right:5px;color:#ff0000;}

.required {margin:0 5px;font-size:12px;color:#ff0000;vertical-align:top;}
/*paging*/
.paging-box {display:inline-block;position:absolute;top:8px;left:0;right:0;text-align:center;}
.paging-box a {display:inline-block;width:28px;height:28px;border:1px solid #12cdc2;font-size:14px;color:#18827d;text-align:center;line-height:28px;vertical-align:middle;}
.paging-box a.nav {font-size:0;background-repeat:no-repeat;background-position:center;}
.paging-box a.nav.prev_02 {background-image:url(../images/common/icon_paging_prev02.png);background-size:10px 12px;}
.paging-box a.nav.prev_01 {margin-right:5px;background-image:url(../images/common/icon_paging_prev01.png);background-size:6px 12px;}
.paging-box a.nav.next_01 {margin-left:5px;background-image:url(../images/common/icon_paging_next01.png);background-size:6px 12px;}
.paging-box a.nav.next_02 {background-image:url(../images/common/icon_paging_next02.png);background-size:10px 12px;}
.paging-box a.active {border-color:#0a7b75;background:#0a7b75;color:#fff;}
.paging-box ~ .btn {position:relative;z-index:5;}

/*radio*/
.radio-box .radio {margin-right:20px;}
.radio-box .radio input[type="radio"]:checked + label {position:relative;}
.radio-box .radio input[type="radio"] + label:before {content:'';display:inline-block;width:25px;height:25px;margin-right:5px;border:1px solid #c9c9c9;border-radius:50%;vertical-align:middle;}
.radio-box .radio input[type="radio"]:checked + label:before {border-color:#12cdc2}
.radio-box .radio input[type="radio"]:checked + label:after {content:'';display:inline-block;position:absolute;top:5px;left:5px;width:15px;height:15px;border-radius:50%;background:#12cdc2;}

/*check*/
.check-area {margin-top:10px;padding:20px 20px 10px;border:1px solid #bdbdbd;background:#fff;}
.check-area.w-fixed .check {display:inline-block;width:144px;}
.check-area.w-fixed .check {margin-bottom:10px;}
.check-box .check {margin-right:20px;}
.check-box .check input[type="checkbox"]:checked + label {position:relative;}
.check-box .check input[type="checkbox"] + label:before {content:'';display:inline-block;width:25px;height:25px;margin-right:5px;border:1px solid #c9c9c9;border-radius:3px;vertical-align:middle;}
.check-box .check input[type="checkbox"]:checked + label:before {border-color:#12cdc2;background:url(../images/common/icon_checkbox.png) no-repeat;background-size:cover;}
.check-box.onlyOne .check {margin-right:0;}
.check-box.onlyOne input[type="checkbox"] + label:before {margin-right:0;}
/*select*/
.select-box {display:inline-block;margin-left:15px;}
/*file list*/
.file-list li {position:relative;height:40px;padding-right:125px;}
.file-list li input[type="file"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.file-list li .file-btn-box {position:absolute;right:0;top:0;}
.file-list li .file-btn-box:after {content:'';display:block;clear:both;}
.file-list li .file-btn-box .btn-secondary {padding:7px 8px;margin-right:5px;border-color:#cbcbcb;font-size:14px;text-align:center;line-height:34px;}
.file-list li .file-btn-box .btn-del {width:33px;height:33px;margin-right:0;border-color:#868686;background:url(../images/common/btn_del.png) no-repeat center / 11px #868686;font-size:0;vertical-align:middle;}

.file-item + .file-item {margin-top:10px;}
.file-item a:hover .info-txt {text-decoration:underline;}
.file-item .tit {padding-left:21px;background:url(../images/common/icon_file.png) no-repeat left center / 14px 15px; font-size:16px;font-weight:400;color:#747474}
.file-item .info-txt {display:inline-block;margin-top:0;font-size:16px;color:#747474}

.editor-area {width:100%;height:300px;border:1px solid #cbcbcb;}
.notice-txt {margin-top:5px;padding-left:30px;background:url(../images/common/icon_notice.png) no-repeat left center / 21px;font-size:14px;color:#868686;}
.info-txt {display:block;margin-top:8px;font-size:14px;color:#868686;}
.address-input-box > input{margin-top:5px;}
.address-input-box > input.w-152 {margin-top:0;}

/*imglist*/
.img-lst:after {content:'';display:block;clear:both;}
.img-lst {margin-top:-5px;}
.img-lst li {float:left;width:370px;margin-right:5px;margin-top:5px;border:1px solid #bdbdbd;}
.img-lst li .img-box {width:100%;height:+90px;border-bottom:1px solid #bdbdbd;overflow:hidden;}
.img-lst li .txt-box {padding:5px;}
.img-lst li .txt-box:after {content:'';display:block;clear:both;}
.img-lst li .txt-box .txt {float:left;width:315px;font-size:14px;color:#5f5f5f;line-height:25px;overflow:hidden;text-overflow:ellipsis;}
.img-lst li .txt-box .btn-del02 {float:right;}

/*popup*/
.popup-wrapper {position:fixed;width:1110px;max-width:100%;top:50%;left:50%;border-radius:15px;overflow:hidden;transform:translate(-50%, -50%);z-index:20;background:#fff;}
.popup-wrap .pop-head {position:relative;padding:11px 30px 9px;background:#12cdc2;}
.popup-wrap .pop-head:before {content:'';position:absolute;bottom:-10px;left:0;right:0;z-index:-1;height:15px;background:#12cdc2;}
.popup-wrap .pop-head:after {content:'';display:block;clear:both;}
.popup-wrap .pop-head h3 {float:left;font-size:20px;color:#fff;}
.popup-wrap .pop-head .btn-popClose {float:right;width:33px;height:33px;background:url(../images/common/btn_popClose.png) no-repeat center / 23px; font-size:0;}
.popup-wrap .pop-body {padding:30px 15px;border-radius:15px 15px 0 0;background:#fff;}
.popup-wrap .pop-body .table-area {margin-top:0;}
.popup-wrap .pop-body .pop-txt {font-size:16px;text-align:center;line-height:25px;}
.popup-wrap .pop-body .pop-txt + .table-area {margin-top:30px;}
.popup-wrap .pop-body .btn-area {min-height:40px;}
.popup-wrap .pop-foot {padding-bottom:20px;background:#fff;text-align:center;}
.popup-wrap .pop-foot .btn {width:147px;padding:14px 0 13px;font-size:16px;}
.popup-wrap .pop-foot .btn + .btn {margin-left:5px;}
.popup-wrap .pop-foot .btn-popSecondary {border-color:#0d9a92;background:#12cdc2;color:#fff;}
.popup-wrap .pop-foot .btn-popPrimary {border-color:#c4c4c4;color:#a4a4a4;}
.pop-dim {position:fixed;top:0;right:0;bottom:0;right:0;z-index:5;width:100%;height:100%;background:rgba(0,0,0,0.5);}

.popup-wrapper.small {width:410px;}
.popup-wrapper.middle {width:520px;}

/* datepicker */
.ui-widget-header .ui-icon {background:none;}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {border-radius:0;background-repeat:no-repeat;background-position:center;background-size:10px 14px;}
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {border:none}
.ui-datepicker .ui-datepicker-prev {background-image:url(../images/common/icon_paging_prev01.png);}
.ui-datepicker .ui-datepicker-next {background-image:url(../images/common/icon_paging_next01.png);}